body {
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  grid-gap: 10px 10px;
}
.card {
  position: relative;
  border: 1px solid red;
}
.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-overlay {
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title, .card-description {
  margin: 5px;
}

@media screen and (min-width: 768px){
  .cards {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 200px;
    grid-gap: 10px 10px;
  }
}
@media screen and (min-width: 1200px){
  .cards {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
    grid-gap: 10px 10px;
  }
  .card-img {
    height: 100%;
  }
  .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,.3);
  }
  .card:hover .card-overlay {
    display: block;
  }
}
