body {
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: rgba(45,45,45,1);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
input, textarea {
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif;
}
.inline {
  display: inline;
}
.inline-center {
  display: inline;
  text-align: center;
}
.block {
  display: block;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.text-error {
  display: none;
  color: red;
}
.loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  border-bottom: 10px solid rgb(45,45,45);
}
section {
  width: 90%;
  margin: 80px auto 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 1.5em;
  background-color: white;
}
.navbar-logo a {
  color: indianred;
  font-size: 1.2em;
  font-family: 'Gloria Hallelujah', cursive;
}
.hidden-menu-btn {
  background-color: transparent;
  font-size: 1.5em;
  border: none;
  padding: 1em;
}
.upload-fields {
  text-align: center;
  background-color: white;
  padding: 1.5em;
}
.upload-field input, .upload-field textarea {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  background-color: white;
  padding: .4em;
  border-radius: .3em;
  border: 2px solid black;
  margin-bottom: .3em;
  width: 70%;
}
.upload-field label {
  display: block;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  background-color: white;
  display: inline-block;
  border: 2px solid black;
  padding: .3em 1em;
  margin: 1.5em;
  border-radius: 5px;
}
.upload-fields button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  font-weight: bold;
  color: indianred;
  border-top: 2px solid indianred;
  border-bottom: 3px solid indianred;
  font-family: 'Gloria Hallelujah', cursive;
}
.cards {
  width: 85%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px;
  grid-gap: 15px 15px;
}
.card {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 4px solid white;
  background-color: white;
}
.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
  text-align: center;
}
.card-title, .card-description {
  margin-top: 5px;
  margin-bottom: 0
}

.image-container {
  color: white;
}
.image-user {
  color: #d2d4d3;
  font-style: italic;
}
.image-title, .image-user {
  font-family: 'Gloria Hallelujah', cursive;
}
.image-img {
  width: 100%;
  border: 3px solid white;
}
.image-comments {
  margin-top: 2em;
  border-top: 1px solid white;
  padding-top: 1em;
}
.image-your-comment textarea {
  width: 100%;
  border: 3px solid #666;
  border-radius: .5em;
  padding: .8em;
}
.image-your-comment input[name="user_comment"] {
  background-color: rgb(45,45,45);
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: .3em;
  padding: .5em;
  font-family: 'Gloria Hallelujah', cursive;
  vertical-align: text-bottom;
}
.user-message {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  object-fit: cover;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  border: 5px solid #666;
  border-radius: 20px;
  color: black;
}
.user-message::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 50px;
  border: 15px solid;
  border-color: #666 transparent transparent #666;
}
.user-message::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 34px;
  top: 50px;
  border: 10px solid;
  border-color: #fff transparent transparent #fff;
}
.user-comment {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
@media screen and (min-width: 768px){
  header {
    font-size: 1.3em;
  }
  .navbar {
    font-size: 1.2em;
    height: 70px;
    padding: .5em 2.5em;
  }
  .cards {
    margin-top: 100px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 200px;
    grid-gap: 10px 10px;
  }
}
@media screen and (min-width: 1024px){
  .upload-field input, .upload-field textarea {
    width: 50%;
  }
  .cards {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px;
    grid-gap: 10px 10px;
  }
}
@media screen and (min-width: 1200px){
  .cards {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
    grid-gap: 10px 10px;
  }
  .card-img {
    height: 100%;
  }
  .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,.3);
  }
  .card:hover .card-overlay {
    display: block;
  }
}
